@import url('../styles.scss');


.grid {
  .col-3 {
    .p-component {
      border: none;
    }

    p-menu {
      height: 100%;

      .p-menuitem-link-active {
        background-color: #4b8df1;

        .p-menuitem-icon, .p-menuitem-text {
          color: #fff;
        }
      }
    }
  }
}
